body {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 14px;
    color: #5a5a5a;
    font-weight: 300;
    line-height: 25px;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

video::-webkit-media-controls {
    display: none !important;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
    /*dim the background*/
}

.primary-button a {
    display: inline-block;
    background-color: #008DB9;
    color: #343434;
    font-size: 13px;
    padding: 12px 18px;
    border-radius: 3px;
    text-decoration: none;
    border: 1px solid transparent;
}

.primary-button a:hover {
    background-color: transparent;
    border: 1px solid #008DB9;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.cd-hero {
    z-index: 2;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cd-hero-slider {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
}

.cd-hero-slider li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

.cd-hero-slider li.selected {
    /* this is the visible slide */
    position: relative;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.cd-hero-slider li.move-left {
    /* slide hidden on the left */
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

.cd-hero-slider li.is-moving,
.cd-hero-slider li.selected {
    /* the is-moving class is assigned to the slide which is moving outside the viewport */
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
}

.content {
    margin-bottom: 100px;
    margin-top: -80px;
    background-color: #fff;
    border-top: 15px solid #008DB9;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.cd-slider-nav {
    padding-top: 1px;
    background-color: #fff;
    position: relative;
}

.cd-slider-nav nav {
    display: flex;
    justify-content: space-between;
}

.cd-slider-nav logo {
    margin-left: 0px;
    padding: 5px;
}

.cd-slider-nav logo img {
    height: 50px;
}

.cd-slider-nav ul {
    list-style-type: none;
    justify-content: space-between;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.cd-slider-nav ul a:hover {
    text-decoration: none;
}

.cd-slider-nav ul a h6 {
    margin-left: 30px;
}

.cd-slider-nav ul a {
    text-decoration: none;
}

.cd-slider-nav ul a h6:last-child {
    margin-right: 30px;
}

.btn {
    border: none;
    outline: none;
}

@media only screen and (min-width: 1050px) {
    .toggle {
        display: none;
    }
}

@media screen and (max-width: 1050px) {
    .cd-slider-nav{
        position: fixed;
        z-index: 99999999999999999;
        width: 100%;
    }
    .cd-hero-slider .selected{
    padding-top: 60px;
    }
    #myDIV {
        display: none;
    }
    .toggle {
        display: block;
    }
    #ico {
        display: inline;
        width: 25px;
        height: 10px;
        margin-top: 20px;
        margin-right: 30px;
        float: right;
          }
    .navicon {
        background: transparent;
        padding-bottom: 32px;
        padding-right: 35px;
        position: relative;
        display: block;
        z-index: 99;
        transition: linear 0.5s all;
    }
    .navicon:before,
    .navicon:after {
        background: #008DB9;
        backface-visibility: hidden;
        content: "";
        height: 3px;
        left: 0;
        transition: 0.8s ease;
        width: 30px;
        border-radius: 50%;
    }
    .navicon:before {
        box-shadow: #008DB9 0 10px 0 0;
        position: absolute;
        top: 0;
    }
    .navicon:after {
        position: absolute;
        top: 20px;
    }
    .navicon--active {
        margin-top: 20px;
        transition: linear 0.5s all;
    }
    .navicon--active:before {
        box-shadow: transparent 0 0 0 0;
        top: 15px;
        transform: rotate(225deg);
    }
    .navicon--active:after {
        top: 15px;
        transform: rotate(315deg);
    }
    .toggle {
        display: block;
        position: absolute;
        margin: 20px auto;
        width: 30%;
        background-color: rgba(25, 25, 25, .95);
        padding: 15px;
        top: 50%;
        left: 50%;
        opacity: 0;
        transition: ease-in 0.5s all;
        transform: translate(-50%, -200%);
        min-width: 320px;
        min-height: 360px;
        z-index: 99999999999999;
    }
    .toggle--active {
        display: block;
        position: fixed;
        top: 0;
        left: 50%;
        opacity: 1;
        transition: ease-in 0.5s all;
        transform: translate(-50%, 50%);
    }
    #hamDIV {
        width: 100%;
        display: block;
        padding: 0;
        border-left-color: rgba(0, 0, 0, 0.25);
    }
    #hamDIV li a:hover {
        color: #db5523;
        border-bottom: 2px solid #db5523;
        transition: linear 0.5s all;
        transform: scale(1.15);
        font-weight: 700;
    }
    .social {
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 10px;
    }
}

@media screen and (max-height: 549px) {
    .toggle--active {
        transform: translate(-50%, 30%);
    }
}

@media screen and (max-height: 488px) {
    .toggle--active {
        transform: translate(-50%, 10%);
    }
}

@media screen and (max-height: 414px) {
    .toggle--active {
        transform: translate(-50%, -5%);
    }
}

.ham-img img {
    height: 45px;
}

.hmenu,
.navicon {
    display: none;
}

.active,
.hactive {
    border-bottom: 5px solid #B92C00;
    color: #008DB9;
}


/*
=====================
----- TOP PART ------
=====================
*/

.top-part img {
    width: 100%;
    background-size: cover;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}


/*
=======================
----- FIRST SLIDE -----
=======================
*/

.first-slide {
    text-align: center;
}

.first-slide {
    background-color: #fff;
    width: 100%;
}

.heading {
    text-align: center;
    margin-bottom: 180px;
    display: flexbox;
}

.heading a {
    display: block;
}

.heading h1 {
    margin-top: 30px;
    font-size: 38px;
    text-transform: uppercase;
    color: #B92C00;
    font-weight: 900;
    letter-spacing: 1px;
}

.heading span {
    font-size: 16px;
    text-transform: uppercase;
    color: #008DB9;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.org-logo {
    margin-top: 30px;
    width: 300px;
}

@media (max-width: 400px) {
    .org-logo {
        width: 200px;
    }
}

.first-content h4 {
    font-size: 19px;
    text-transform: uppercase;
    color: #121212;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.first-content {
    padding: 60px 0px;
}

.first-content p {
    margin: 0px 120px;
}

.first-content .primary-button {
    margin-top: 30px;
}

.counters {
    background: #008DB9;
    color: #fff;
    padding: 40px 0px;
    border-top: 3px lightskyblue solid;
}

.counters .container {
    display: flexbox;
    text-align: center;
}

.counters i {
    color: black;
    margin-bottom: 5px;
}

.counters .counter {
    font-size: 45px;
}

@media screen and (max-width: 766px) {
    .counters .container>div:nth-of-type(1),
    .counters .container>div:nth-of-type(2),
    .counters .container>div:nth-of-type(3) {
        border-bottom: 1px lightskyblue solid;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .counters .container>div:nth-of-type(2),
    .counters .container>div:nth-of-type(3),
    .counters .container>div:nth-of-type(4) {
        padding-top: 20px;
    }
}

@media screen and (min-width: 766px) {
    .counters .container {
        display: flex;
        justify-content: space-evenly;
    }
    .counters {
        display: flex;
        justify-content: space-evenly;
    }
}

.primary-button {
    text-align: center;
}


/*
=======================
----- SECOND SLIDE ----
=======================
*/

.second-slide {
    text-align: center;
    background-color: #fff;
    width: 100%;
}

.second-slide .heading h1 {
    margin-top: 30px;
    font-size: 38px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    letter-spacing: 1px;
}

.second-slide .heading span {
    font-size: 16px;
    text-transform: uppercase;
    color: #008DB9;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.second-slide img {
    width: 100%;
    overflow: hidden;
}

.second-slide .left-image {
    padding-right: 0px!important;
}

.second-slide .right-image {
    padding-left: 0px!important;
}

.second-slide .right-about-text {
    text-align: left;
    margin-left: 15px;
    margin-right: 30px;
}

.second-slide .right-about-text h4 {
    font-size: 19px;
    color: #121212;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 25px;
}

.second-slide .right-about-text .primary-button {
    margin-top: 25px;
}

.second-slide .left-about-text {
    text-align: left;
    margin-left: 15px;
    margin-left: 30px;
}

.second-slide .left-about-text h4 {
    font-size: 19px;
    color: #121212;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 25px;
}

.second-slide .left-about-text .primary-button {
    margin-top: 25px;
}

.member-item {
    overflow: hidden;
    height: auto;
}

.member-item:hover .overlay {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.member-thumb {
    width: 100%;
    overflow: hidden;
    height: auto;
    position: relative;
}

.member-thumb img {
    width: 100%;
    border: 6px solid #fff;
}

.member-thumb .overlay {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.member-content {
    margin-top: 10px;
    overflow: hidden;
    text-align: center;
}

.member-content h4 {
    text-transform: uppercase;
    font-size: 18px;
    color: #008DB9;
}

.member-content p {
    color: #aaaaaa;
    font-size: 12;
}

li .facebook-fade {
    display: inline;
    float: left;
    width: 40px;
    height: 40px;
    background-color: #008DB9;
    text-align: center;
    margin-right: 1px;
    margin-left: -39px;
}

li .twitter-fade {
    display: inline;
    float: left;
    width: 40px;
    height: 40px;
    background-color: #008DB9;
    text-align: center;
    margin-left: 2px;
}

li .instagram-fade {
    display: inline;
    float: left;
    width: 40px;
    height: 40px;
    background-color: #008DB9;
    text-align: center;
    margin-left: 43px;
}

li .linkedin-fade {
    display: inline;
    float: left;
    width: 40px;
    height: 40px;
    background-color: #008DB9;
    text-align: center;
    margin-left: 84px;
}

@media screen and (min-width: 500px) {
    .content-fade p {
        margin-top: 320px;
        line-height: 18px;
    }
}

@media screen and (max-width: 499px) {
    .content-fade p {
        line-height: 10px;
        font-size: 0.65em;
        margin-top: 170px;
    }
}

@media screen and (max-width: 300px) {
    .content-fade p {
        line-height: 10px;
        font-size: 0.5em;
        margin-top: 130px;
    }
}

@media screen and (max-width: 499px) {
    .content-fade {
        margin-top: 42px;
    }
}

.content-fade p {
    text-align: center;
    color: #fff;
}

.social-member a:hover {
    text-decoration: none;
}

.social-member li i {
    display: block;
    line-height: 40px;
    color: white;
    text-decoration: none;
}

.social-member li a:hover {
    background-color: #008DB9;
}

.blog-post-thumb {
    margin-bottom: 40px;
}

.blog-post-thumb .img img {
    width: 200px;
}

.blog-content h3 a {
    color: #008DB9;
    text-decoration: none;
    font-weight: 650;
}

.blog-content h3 a:hover {
    color: #B92C00;
}

.blog-content .text {
    margin-top: -10px;
    padding: 10px;
}

.blog-content a.main-button {
    text-decoration: none;
    padding-bottom: 6px;
}

.blog-content a.main-button:hover {
    color: red;
}


/*
=======================
----- THIRD SLIDE -----
=======================
*/

.third-slide {
    text-align: center;
    background-color: #fff;
    width: 100%;
}

.third-slide .heading h1 {
    margin-top: 30px;
    font-size: 38px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    letter-spacing: 1px;
}

.third-slide .heading span {
    font-size: 16px;
    text-transform: uppercase;
    color: #008DB9;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.third-slide .feature-list ul {
    padding: 0;
    margin: 0;
}

.third-slide .feature-list ul li {
    display: block;
}

.third-content {
    padding: 0px;
    padding-bottom: 20px;
}

.third-content .left-image img {
    width: 100%;
    overflow: hidden;
}

.third-content .right-feature-text h4 {
    font-size: 19px;
    color: #121212;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.third-content .right-feature-text h4 em {
    font-style: normal;
    font-weight: 700;
    color: #008DB9;
}

.third-content .feature-list {
    margin-top: 20px;
}

.third-content .feature-list p {
    font-weight: 400;
}

.third-content .right-feature-text {
    text-align: left;
    margin: 0px 15px 0px 15px;
}

.third-content .right-feature-text .primary-button {
    margin-top: 30px;
}


/* 
---------------------------------------------
team
--------------------------------------------- 
*/

.team-item {
    background: #fff;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    border-radius: 20px;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 25px;
}

.team-item:hover .team-content .team-info {
    margin-left: 30px;
}

.team-item i {
    display: block;
    margin-left: 25px;
    margin-top: 25px;
    font-size: 30px;
    color: #4E47DE;
    text-align: center;
}

.team-item .user-image {
    width: 60px;
    height: 60px;
    overflow: hidden;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-left: 25px;
    float: left;
}

.team-item .team-content {
    text-align: left;
    overflow: hidden;
}

.team-item .team-content i img {
    height: 32px;
    width: 32px;
}

.team-item .team-content .team-info {
    float: left;
    margin-left: 20px;
    margin-top: 8px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.team-item .team-content .team-info .user-name {
    display: block;
    font-weight: 400;
    font-size: 17px;
    color: #1e1e1e;
    letter-spacing: 0.25px;
    margin-bottom: 5px;
}

.team-item .team-content .team-info span {
    display: block;
    font-weight: 400;
    font-size: 15px;
    color: #ff589e;
    letter-spacing: 0.25px;
}

.team-item .team-content p {
    margin-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 15px;
    color: #777;
    letter-spacing: 0.6px;
    line-height: 26px;
}


/*
=======================
----- FOURTH SLIDE ----
=======================
*/

.fourth-slide {
    text-align: center;
    background-color: #fff;
    width: 100%;
}

.fourth-slide .heading h1 {
    margin-top: 30px;
    font-size: 38px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    letter-spacing: 1px;
}

.fourth-slide .heading span {
    font-size: 16px;
    text-transform: uppercase;
    color: #008DB9;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.fourth-content {
    padding: 15px 30px;
}

.fourth-content .project-item {
    margin: 15px 0px;
}

.fourth-content img {
    width: 100%;
    overflow: hidden;
}


/*
=======================
----- FOURTH SLIDE ----
=======================
*/

.fivth-slide {
    text-align: center;
    background-color: #fff;
    width: 100%;
}

.fivth-slide .heading h1 {
    margin-top: 30px;
    font-size: 38px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    letter-spacing: 1px;
}

.fivth-slide .heading span {
    font-size: 16px;
    text-transform: uppercase;
    color: #008DB9;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.fivth-content {
    padding: 30px;
    text-align: left;
}

.fivth-content .left-info em {
    font-weight: 500;
}

.fivth-content .left-info .social-icons {
    margin-top: 60px;
}

.fivth-content .left-info ul {
    padding: 0;
    margin: 0;
}

.fivth-content .left-info i {
    margin-right: 10px;
    color: #fff;
    font-size: 15px;
    width: 34px;
    height: 34px;
    background-color: #cdcdcd;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 34px;
}

.fivth-content .left-info i:hover {
    background-color: #008DB9;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}

.fivth-content input {
    margin-bottom: 20px;
    padding-left: 15px;
    max-width: 100%;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    font-size: 13px;
    color: #aaa;
    background-color: #f4f4f4;
    border: none;
    outline: none;
    border-radius: 0;
    box-shadow: none;
}

.fivth-content input:focus {
    outline: none!important;
    box-shadow: none;
}

.fivth-content textarea {
    margin-bottom: 20px;
    padding-left: 15px;
    width: 100%;
    max-width: 100%;
    max-height: 180px;
    height: 140px;
    display: inline-block;
    line-height: 40px;
    font-size: 13px;
    color: #aaa;
    background-color: #f4f4f4;
    border: none;
    outline: none!important;
    border-radius: 0;
    box-shadow: none;
}

.fivth-content textarea:focus {
    outline: none!important;
    box-shadow: none;
}

.fivth-content button {
    display: inline-block;
    background-color: #008DB9;
    color: #343434;
    font-size: 13px;
    padding: 12px 18px;
    border-radius: 3px;
    text-decoration: none;
    outline: none;
    margin-bottom: 0px;
}

.fivth-content button:hover {
    background-color: transparent;
    border: 1px solid #008DB9;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}


/*
=======================
---- FOOTER STYLE -----
=======================
*/

footer {
    width: 100%;
    background-color: #dad5d5;
    position: relative;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 4px;
}

footer p {
    text-align: center;
    font-size: 13px;
    color: #343434;
    margin: 0px;
    font-weight: 400;
    margin-top: auto;
    margin-bottom: auto;
}

footer .footer {
    margin-right: 50px;
}

footer .footer img {
    height: 50px;
    padding: 5px 5px;
    margin-bottom: -10px;
}

footer .social-icons {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    justify-content: space-between;
}

footer .social-icons a {
    margin-top: auto;
    margin-bottom: auto;
    color: #fff;
    background-color: #008DB9;
    padding: 10px;
    width: 40px;
    border-radius: 60px;
    margin-bottom: -10px;
}

footer .social-icons a:hover {
    background-color: #121212;
    color: #008DB9;
}

footer .mobile-view {
    display: none;
}

@media (max-width: 690px) {
    footer {
        padding-bottom: 1px;
        text-align: center;
    }
    footer .mobile-view {
        display: block;
    }
    footer .desktop-view {
        display: none;
    }
    footer .mobile-block {
        display: block;
    }
    footer .social-one,
    footer .social-two {
        margin-bottom: 10px;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        width: 70%;
        justify-content: space-between;
    }
    footer .mobile-block a:hover {
        background-color: #121212;
        color: #008DB9;
    }
    footer .mobile-block a {
        margin-top: auto;
        margin-bottom: auto;
        color: #fff;
        background-color: #008DB9;
        padding: 10px;
        width: 40px;
        border-radius: 60px;
    }
    footer .foot-icon img {
        margin-left: 3px;
        margin-bottom: 1px;
    }
    footer p {
        text-align: center;
        margin-left: 60px;
    }
}


/*
========================================
---------- RESPONSIVE STYLE ------------
========================================
*/

@media (max-width: 850px) {
    .heading h1 {
        margin-top: 60px;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 0px;
    }
    .heading span {
        font-size: 13px;
        letter-spacing: px;
    }
    .content {
        margin-bottom: 100px;
        margin-top: -100px;
        background-color: #fff;
        border-top: 15px solid #008DB9;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    }
    .first-content h4 {
        margin-left: 15px;
        margin-right: 15px;
    }
    .first-content p {
        margin: 0px 30px;
    }
    .second-slide .left-image {
        padding-right: 15px!important;
    }
    .second-slide .right-image {
        padding-left: 15px!important;
    }
    .second-slide .right-about-text {
        text-align: left;
        margin-left: 15px;
        margin-left: 30px;
    }
    .second-slide .left-about-text {
        text-align: left;
        margin-left: 0px;
        margin-left: 30px;
        margin-bottom: 30px;
    }
    .fivth-content .left-info .social-icons {
        margin-top: 30px;
        margin-bottom: 60px;
    }
    .selected #slogan-main {
        font-size: 16px;
    }
}


/*
========================================
----------- LIGHT BOX STYLE ------------
========================================
*/


/* Preload images */

body:after {
    content: url(../img/close.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png);
    display: none;
}

body.lb-disable-scrolling {
    overflow: hidden;
}

.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    display: none;
}

.lightbox {
    position: absolute;
    margin-top: 5%;
    left: 0;
    width: 100%;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
}

.lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    max-height: none;
    border-radius: 3px;
    /* Image border */
    border: 4px solid #fff;
}

.lightbox a img {
    border: none;
}

.lb-outerContainer {
    position: relative;
    *zoom: 1;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 4px;
    /* Background color behind image.
     This is visible during transitions. */
    background-color: #fff;
}

.lb-outerContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-loader {
    position: absolute;
    top: 43%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}

.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(../img/loading.gif) no-repeat;
}

.lb-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.lb-container>.nav {
    left: 0;
}

.lb-nav a {
    outline: none;
    background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev,
.lb-next {
    height: 100%;
    cursor: pointer;
    display: block;
}

.lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
    background: url(../img/prev.png) left 48% no-repeat;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
    background: url(../img/next.png) right 48% no-repeat;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    *zoom: 1;
    width: 100%;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-data {
    padding: 0 4px;
    color: #ccc;
}

.lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em;
}

.lb-data .lb-caption {
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
}

.lb-data .lb-caption a {
    color: #4ae;
}

.lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999999;
}

.lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(../img/close.png) top right no-repeat;
    text-align: right;
    outline: none;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
    cursor: pointer;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}


/*Blog*/

.homepage-back {
    text-align: center;
    padding: 20px;
}

.homepage-back a {
    text-decoration: none;
}

.homepage-back a:hover {
    color: #B92C00;
}

.homepage-back img {
    width: 29px;
}

.selected .heading img {
    margin-bottom: 20px;
}


/* Scroll up button */

#myBtn {
    display: none;
    /*Hiddenbydefault*/
    position: fixed;
    /*Fixed/stickyposition*/
    bottom: 30px;
    /*Placethebuttonatthebottomofthepage*/
    left: 30px;
    /*Placethebutton30pxfromtheright*/
    z-index: 99;
    /*Makesureitdoesnotoverlap*/
    border: none;
    /*Removeborders*/
    outline: none;
    /*Removeoutline*/
    background-color: #008DB9;
    /*Setabackgroundcolor*/
    cursor: pointer;
    /*Addamousepointeronhover*/
    padding: 7px;
    /*Somepadding*/
    border-radius: 25px;
    /*Roundedcorners*/
}

#myBtn img {
    width: 25px;
}

@media (max-width: 479px) {
    #myBtn {
        padding: 7px;
        bottom: 7px;
        left: 10px;
    }
}


/* Lost Styles */

.second-content .row .col-md-7 .left-about-text {
    margin-bottom: 34px;
}

#number-logo,
#number-logo1,
#number-logo2 {
    width: 100px;
}

#number-logo {
    padding: 20px 0px;
}

#fade {
    display: none;
}

#fade p {
    color: #fff;
    background-color: #5a5a5a;
    padding: 3px 8px;
    border-radius: 23px;
    text-align: center;
    margin-top: 15px;
}

.margin-needed {
    margin-top: 10px;
}

.first-part p,
.second-part p,
.third-part p {
    padding: 10px;
    text-align: left;
}

@media screen and (min-width: 700px) {
    .flex-blog img {
        width: 500px;
    }
    .first-part p,
    .second-part p,
    .third-part p {
        padding: 10px 25px;
    }
    .main-blog-content {
        padding: 0px 95px;
    }
}

@media screen and (min-width: 850px) {
    .blog-content {
        padding-right: 8px;
        margin-left: -20px;
    }
}

.article-author {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: rgb(228, 228, 228);
}

.photo-credit {
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    color: rgb(194, 194, 194);
}

@media screen and (min-width: 768px) {
    .feedback-main {
        padding-right: 55px;
        align-content: center;
    }
}

.v-container {
    text-align: left;
    padding: 0px 15px;
}

.exception {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.third-section-team {
    display: block;
}

.volunteer-direction img {
    width: 20px;
}

.cd-slider-nav {
    color: #121212;
}

@media screen and (min-width: 1000px) {
    .squad-list {
        display: block;
    }
    .squad-list .third-section-team {
        display: flex;
    }
    .squad-list .first-team-item {
        display: flex;
    }
    .exception {
        width: 50%;
    }
}
